<div class="container">
  <div class="row">
    <% @people.each do |person| %>
      <div class="col-sm-3">
        <img class="img-responsive" src=<%= person.image_url %> alt="Profile Image">
        <%= link_to person.name, person %>
        <br>
        <%= person.classification %>
        <br>
        <%= person.cohort.current_module %>
        <br>
      </div>
    <% end %>

  </div>
</div>
